
#twblock {
  text-align: left;
  /* 
  color: #333;
  border: dotted 1px #003; 
  padding: 40px; 
  width:500px; 
  */
}
.tweetblock {
  padding: 5px;
  position: relative;
  border-bottom:1px solid #eee;
  margin: 0;
  min-height: 54px
}
.tweetblock .twicon img {
  height: 48px;
  width: 48px;
  position: absolute;
  margin-top: 4px;
  padding: 2px;
  border: none;
}
.tweetblock .twitem {
  margin: 2px 5px 2px 62px;
}
.tweetblock .twitem a.twauthor {
  font-weight: bold;
}
.tweetblock small { 
  font-size: 9px; 
  color: #494949; 
}